// Colors
$white: #fff;
$ultra-light-grey: #f2f2f3;
$light-grey: #e1e1e1;
$grey: #777;
$off-black: #333;
$blue-primary: #2C79E6;

// Transitions
$transition-slow: 500ms ease;
$transition-medium: 190ms ease;
$transition-fast: 150ms ease;
$transition-extra-fast: 120ms ease;