@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.3;
  box-sizing: border-box;
}

#app {
/*  height: 100%;
  position: absolute;
  overflow: hidden;*/
  padding: 70px 0 0 0;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 16px;
  color: #676767;
  // background-color: #f0f0f0;
  -webkit-font-smoothing: antialiased; /* Makes fonts look pretty in chrome */
  -moz-osx-font-smoothing: grayscale; /* Makes fonts look pretty in firefox */
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
p {
  font-weight: 200;
}
p.lead {
  font-size: 1.3em;
}

.box {
  border: #e1e1e1 1px solid;
  border-radius: 2px;
  background-color: #fff;
}

img {
  width: 100%;
}


/* SPINNER */
/* Spinner loader */
.spinner-container.active {
  opacity: 1;
  transition: opacity 400ms ease;
}

.mini-spinner {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 3px solid;
  border-color: #2C79E6 #2C79E6 #2C79E6 rgba(0,0,0,0);
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 2px 0;
}
.spinner-container.active .mini-spinner {
  animation: rotate infinite 900ms linear;
}

.spinner-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 400ms ease;
}

@keyframes rotate {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}




/* UTILITES */

/* Padding and margin*/
.u_p-xs {padding: 4px;}
.u_p-sm {padding: 8px;}
.u_p-md {padding: 16px;}
.u_p-lg {padding: 24px;}
.u_p-xl {padding: 32px;}
.u_p-xxl {padding: 64px;}

.u_p-t-xs {padding-top: 4px;}
.u_p-t-sm {padding-top: 8px;}
.u_p-t-md {padding-top: 16px;}
.u_p-t-lg {padding-top: 24px;}
.u_p-t-xl {padding-top: 32px;}
.u_p-t-xxl {padding-top: 64px;}

.u_p-b-xs {padding-bottom: 4px;}
.u_p-b-sm {padding-bottom: 8px;}
.u_p-b-md {padding-bottom: 16px;}
.u_p-b-lg {padding-bottom: 24px;}
.u_p-b-xl {padding-bottom: 32px;}
.u_p-b-xxl {padding-bottom: 64px;}

.u_m-b-xs {margin-bottom: 4px;}
.u_m-b-sm {margin-bottom: 8px;}
.u_m-b-md {margin-bottom: 16px;}
.u_m-b-lg {margin-bottom: 24px;}
.u_m-b-xl {margin-bottom: 32px;}
.u_m-b-xxl {margin-bottom: 64px;}

.u_m-t-xs {margin-top: 4px;}
.u_m-t-sm {margin-top: 8px;}
.u_m-t-md {margin-top: 16px;}
.u_m-t-lg {margin-top: 24px;}
.u_m-t-xl {margin-top: 32px;}
.u_m-t-xxl {margin-top: 64px;}

.u_m-l-xs {margin-left: 4px;}
.u_m-l-sm {margin-left: 8px;}
.u_m-l-md {margin-left: 16px;}
.u_m-l-lg {margin-left: 24px;}
.u_m-l-xl {margin-left: 32px;}
.u_m-l-xxl {margin-left: 64px;}

.u_m-r-xs {margin-right: 4px;}
.u_m-r-sm {margin-right: 8px;}
.u_m-r-md {margin-right: 16px;}
.u_m-r-lg {margin-right: 24px;}
.u_m-r-xl {margin-right: 32px;}
.u_m-r-xxl {margin-right: 64px;}

/* Color */
.u_c-blue {color: #2C79E6 !important;}

/* Text */
.u_t-c {text-align: center;}
